<div *ngIf="loading === true">
  Loading...
</div>
<div class="settings-view" *ngIf="loading === false"> 
  <div class="content-view-title mat-elevation-z2">
      <h1>Settings</h1>
      <div class="actions">
          <button mat-button (click)="saveSettings()">
            <mat-icon>save</mat-icon>
          </button>
      </div>
  </div>
  <div class="content-view-body">
    <form class="">
      <div class="input-full-width">
        <mat-checkbox color="primary" name="isDoneRequiringTimelog" [(ngModel)]="settings.doneRequiresTimelog">Prevent task with no time log to be put to "Done"</mat-checkbox>
      </div>
      <div class="input-full-width">
        <mat-checkbox color="primary" name="allowUndone" [(ngModel)]="settings.allowUndone">Allow task to be undone</mat-checkbox>
      </div>
    </form>
  </div>
</div>
