<div class="error-placeholder" *ngIf="errors.length > 0">
    <div *ngFor="let error of errors">
        {{error}}
    </div>
</div>
<div *ngIf="isLoading === true" i18n>
    Loading...
</div>
<div class="content-view" *ngIf="isLoading === false && errors.length === 0">
    <div class="content-view-title mat-elevation-z2">
        <h1 i18n>My tasks</h1>
    </div>
    <div class="task-list content-view-body" >
        <div class="list-header">
            <mat-chip-list (mousedown)="preventChipFocus($event)">
                <mat-chip data-section="pending-chip" (click)="setListSelection('Pending')" class="chip-with-badge" [selected]="listSelection === 'Pending'" color="primary" matBadge="{{filteredLists.get('Pending').length}}" matBadgeColor="accent">Pending</mat-chip>
                <mat-chip data-section="done-chip" (click)="setListSelection('Done')" class="chip-with-badge" [selected]="listSelection === 'Done'" color="primary" matBadge="{{filteredLists.get('Done').length}}" matBadgeColor="accent">Done</mat-chip>
                <mat-chip data-section="all-chip" (click)="setListSelection('All')" class="chip-with-badge" [selected]="listSelection === 'All'" color="primary" matBadge="{{filteredLists.get('All').length}}" matBadgeColor="accent">All</mat-chip>
            </mat-chip-list>
        </div>
        <div class="list-container">
            <mat-list>
                <ng-container *ngFor="let task of filteredLists.get(listSelection)">
                    <mat-list-item class="task-entry">
                        <h4 mat-line>{{task.name}}</h4>
                        <p class="task-actions">
                            <button data-section="add-timelog-button" mat-icon-button (click)="addTimeLog(task)">
                                <mat-icon aria-label="Log time to task">add_alarm</mat-icon>
                            </button>
                            <button data-section="detail-button" mat-icon-button (click)="displayTaskDetails(task)">
                                <mat-icon aria-label="View task detail">info</mat-icon>
                            </button>
                            <button data-section="done-button" *ngIf="!task.done" mat-icon-button (click)="markTaskDone(task)">
                                <mat-icon aria-label="Mark task done">check_circle</mat-icon>
                            </button>
                            <button *ngIf="task.done && taskCanBeUndone|async" mat-icon-button (click)="markTaskUndone(task)">
                                <mat-icon aria-label="Mark task undone">highlight_off</mat-icon>
                            </button>
                        </p>
                    </mat-list-item>
                    <mat-divider></mat-divider>
                </ng-container>
            </mat-list>
        </div>
        <div class="bottom-actions">
            <button mat-mini-fab color="primary" (click)="addTask()">
                <mat-icon aria-label="Add a task action button">add</mat-icon>
            </button>
        </div>
    </div>
</div>