<mat-list>
    <!-- <h3 mat-subheader>Réservation</h3> -->
    <mat-list-item data-section="tasks-menu" routerLink="/task" routerLinkActive="active-item" class="menu-item">
        <mat-icon mat-list-icon>assignment</mat-icon>
        <h4 mat-line i18n>Tasks</h4>
    </mat-list-item>
    <!--<mat-list-item routerLink="/reports" routerLinkActive="active-item" class="menu-item">
        <mat-icon mat-list-icon>assessment</mat-icon>
        <h4 mat-line>Reports</h4>
    </mat-list-item>-->
    <mat-divider></mat-divider>
    <mat-list-item data-section="settings-menu" routerLink="/settings" routerLinkActive="active-item" class="menu-item">
        <mat-icon mat-list-icon>settings</mat-icon>
        <h4 mat-line i18n>Settings</h4>
    </mat-list-item>
</mat-list>