<h1 mat-dialog-title>Create task</h1>
<form class="" mat-dialog-content [formGroup]="taskForm" data-section="task-creation-form">
  <mat-form-field class="input-full-width" data-section="task-name-input">
    <input matInput placeholder="Task name" value="" name="name" formControlName="name">
    <mat-error *ngIf="nameFormControl.hasError('required')">
      Your task name must not be empty.
    </mat-error>
  </mat-form-field>
</form>
<div mat-dialog-actions>
  <button mat-raised-button (click)="cancel()" data-section="cancel-button">Cancel</button>
  <button mat-raised-button (click)="create()" cdkFocusInitial color="primary" data-section="create-button">Create</button>
</div>