/* You can add global styles to this file, and also import other style files */
@import "~@angular/material/prebuilt-themes/indigo-pink.css";
@import "https://fonts.googleapis.com/icon?family=Material+Icons";
@import url('https://fonts.googleapis.com/css?family=Roboto:300,300i,400,400i,700,700i');
@import "./form.css";
@import "./content.css";

html, body{
    margin: 0;
    height: 100%;
    width: 100%;
    font-family: 'Roboto', sans-serif;
}

app-root{
    display: flex;
    flex-direction: column;
    height: 100%;
}

.mat-chip.chip-with-badge {
    overflow: visible;
}