<error-view [errors]="errors"></error-view>

<div class="task-details content-view" *ngIf="loading === false && errors.length === 0">
  <div class="detail-view-header content-view-title mat-elevation-z2">
    <div class="actions-left">
      <button mat-button (click)="goToTaskList()">
        <mat-icon>arrow_back</mat-icon>
      </button>
    </div>
    <div class="title-area">

      <h1><ng-container i18n>Task</ng-container> {{task.name}}</h1>
    </div>
    <div class="actions">
      <!-- <button mat-button (click)="deleteTask()">
        <mat-icon>delete</mat-icon>
      </button> -->
    </div>
  </div>
  <div class="content-view-body">
    <h2>
      {{task.name}}
    </h2>
    <p data-section="status">
      <ng-container i18n>Status:</ng-container> {{done?'Done':'Pending'}}
    </p>
    <p data-section="totalTime">
      <ng-container i18n>Total time spent:</ng-container> {{totalSpentTime}}
    </p>
    <div data-section="description">
      <ng-container i18n>Description:</ng-container> 
      <p>{{task.description}}</p>
    </div>

    <div class="">
      <h3 i18n>Activity</h3>
      <mat-list class="timelog-entry">
        <ng-container *ngFor="let timelog of timeLogs">
          <mat-list-item class="timelog-entry">
            <span mat-line class="timelog-content">
              <strong>{{getTimelogFormattedDuration(timelog)}}</strong> 
              <small> <ng-container i18n>on</ng-container> {{getTimelogFormattedDate(timelog)}}</small>
            </span>
            <p class="timelog-actions">
              <button mat-icon-button (click)="deleteTimeLog(timelog)">
                <mat-icon aria-label="Delete time log">delete</mat-icon>
              </button>
            </p>
          </mat-list-item>
          <mat-divider></mat-divider>
        </ng-container>
      </mat-list>
    </div>
  </div>
</div>